:root {
    --primarycolor:#818181;
    --navbgcolor:#000;
}
/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}

.app-wrapper {
    background-color: lightcoral;
}
            /* MAIN */
main {
    width: calc(100% - 200px);
    display: flex;
    height: calc(100vh - 100px);
}

            /* NAV LEFT */
.nav-left {
    background-color: var(--navbgcolor);
    width: 200px;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}

.nav-left ul {
    list-style-type: none;
    line-height: 1.9rem;
    color: var(--primarycolor)
}

i {
    font-size: 1.2rem;
}

a {
    color: #818181;
    text-decoration: none;
}

h3 {
    color: white;
    margin: 0.5rem 0;
}

.nav-left .playlist li:first-child {
    font-size: 1.1rem;
}

.squareplus {
    color: black;
    background-color: #818181;
    padding: 3px 10px;
}

.install {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 85%;
    height: 100%;
}

.dflex {
    display: flex;
}
.install img {
    width: 7%;
}
        /* Common Nav */

li {
    display: flex;
}

.nav-left li a:hover, .nav-left li:hover{
 color: white; 
}

.nav-left li .squareplus:hover {
    background-color: white;
}
.navm {
    margin-left: 1rem;
}

.nav-left li img {
    width: 11%;
    color: #818181;

}
.logo {
    width: 140px;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

img {
    width: 100%;
}
            /* Container RIGHT */


            /* FOOTER */
footer {
    background-color: aquamarine;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Footer Menu */
.footermenu {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Footer Menu Listening */
.listening {
    display: flex;
    width: 14%;
}
footer figure {
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
}

figure img {
    width: 60px;
}

footer .albumname {
    margin-left: 0.4rem;
    font-size: 0.7rem;
}

figcaption {
    width: 61px;
}
.song {
    font-weight: bold;
}

.listeningicon {
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}


footer i{
    padding-right: 0.5rem;
    /* color: white; */
}

.listeningicon i {
    color: var(--primarycolor)
}

/* Footer Footermenu Progression Bar */

.progressionbar {
    width: 39%;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
}


.btnsong {
    align-self: center;
    margin-bottom: 0.5rem
}


.progression {
    align-self: center;
    background-color: #818181;
    width: 85%;
    height: 5px;
    margin: 0 auto;
    border-radius: 10px 10px 10px 10px;
}

.progression .bar {
    width: 30%;
    height: 100%;
    background-color: #3c773c;  
    border-radius: 10px 10px 10px 10px;
}

/* Footer Progression Bar */
.volume {
    width: 20%
}
.volumeicon {
    align-self: center;
    
}




/* md size */
@media screen and (max-width: 1100px) {

    
}

/* s size */

@media screen and (max-width: 700px) {

    
}

/* xs size */
@media screen and (max-width: 600px) {

    
}