/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app-wrapper {
    background-color: lightcoral;
}
            /* MAIN */
main {
    width: calc(100% -100px);
    display: flex;
    height: calc(100vh - 100px);
}

            /* NAV LEFT */
.nav-left {
    background-color: blueviolet;
    width: 200px;
}
            /* Container RIGHT */


            /* FOOTER */
footer {
    background-color: aquamarine;
    height: 100px;
}